
.article {
    padding: 1.175vw;
    margin: 1.175vw;
}

.articleTitle {
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    color: #6a290a;
}

.articleSub {
    display: flex;
    justify-content: space-between;
}

.articleType {
    margin: 0px;
    text-align: center;
    color: #6a290a;
    font-family: 'Satisfy', cursive;
}

.articleDate {
    margin: 0px;
    text-align: center;
    color: #C17336;
}

.articleBody {
    text-align: center;
}

.articleContinue {
    text-align: center;
    margin-top: 2.35vw; 
}

.articleContinue a {
    padding: 0.5875vw 1.175vw;
    text-decoration: none;
    color: #086759;
    border: solid;
}

.articleContinue a:hover {
    color: #6a290a;
}

.articleImage {
    padding: 20px;
}

@media (max-width: 768px) { 
    .articleContinue a {
        padding: 4px 8px;
    }
}