.mainBody {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

@media (min-width: 576px) {
    .mainBody {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 992px) {
    .mainBody {
        display: grid;
        grid-template-columns: repeat(3, 33.3333%);
    }
}