nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 10vw;
    background: linear-gradient(white, transparent);
    /* height: 7.05vw; */
    height: 96px;
    font-weight: 600;
    z-index: 1000;
    position: relative;
}

header {
    margin-top: -96px;
}

.navLink, .navSocial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink a.link {
    text-decoration: none;
    color: #6a290a;
    margin-right: 2.35vw;
    padding-bottom: 5px;
    font-size: 12px;
}

.navSocial img.img {
    padding-left: .5875vw;
    width: 1.41vw;
}

.navSocial a.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink a.link:hover {
    border-bottom: solid
}

.navSocial .subscribe {
    padding: 1.175vw 2.35vw;
    text-decoration: none;
    color: #086759;
    border: solid;
    font-size: 12px;
}

.navSocial .subscribe:hover {
    color: #6a290a;
}

.activeLink {
    border-bottom: solid
}


@media (min-width: 576px) { 
    .nav {
        height: 96px;
    }

    header {
        margin-top: -96px;
    }

    .navLink a.link {
        font-size: 12px;
    }

    .navSocial .subscribe {
        font-size: 12px;
    }
}

@media (min-width: 768px) { 
    .nav {
        height: 96px;
    }
    
    header {
        margin-top: -96px;
    }

    .navLink a.link {
        font-size: 12px;
    }

    .navSocial .subscribe {
        font-size: 12px;
    }
}

@media (min-width: 992px) { 
    .nav {
        height: 96px;
    }

    header {
        margin-top: -96px;
    }

    .navLink a.link {
        font-size: 14px;
    }

    .navSocial .subscribe {
        font-size: 14px;
    }
}

@media (min-width: 1200px) { 
    nav {
        height: 96px;
    }

    header {
        margin-top: -96px;
    }

    .navLink a.link {
        font-size: 16px;
    }

    .navSocial .subscribe {
        font-size: 16px;
    }
}