@import './stylesCommon.css';

.details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image {
    text-align: center;
}

.image img {
    width: 100%;
}

.articleTitle {
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    color: #6a290a;
}


.articleType {
    margin: 0px;
    text-align: center;
    color: #6a290a;
    font-family: 'Satisfy', cursive;
}

.articleDate {
    margin: 0px;
    text-align: center;
    color:#915525;
}

.articleInfo,
.articleBody {
    padding: 40px;
}

@media (max-width: 992px) {
    .details {
        display: grid;
        grid-template-columns: 100%;
    }
    
    .image img {
        width: 50%;
    }

    .articleInfo,
    .articleBody {
        padding: 0px 0px;
    }
}

@media (max-width: 550px) {
    .image img {
        width: 100%;
    }

    .articleInfo {
        padding-top: 20px;
    }
}