@import 'https://fonts.googleapis.com/css?family=Satisfy&display=swap';
@import './navbar.css';


body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/header/header.jpg');
    background-size: cover;
    height: 303px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 1.175vw;
    background-color: #6a290a;
    color: white;
    height: 15vh;
}

main {
    margin: 1.175vw 3.525vw;
    padding: 0em 1.175vw;
}

.title {
    /* color: #C17336; */
    color: #915525;
    font-size: 38px;
    margin-bottom: 0px;
    margin-top: 25px
}

.sub-title {
    color: #6a290a;
    margin-top: 0px;
    font-size: 19px;
    font-family: 'Satisfy', cursive;
}

.separator {
    margin: 3.525vw auto 1.175vw auto;
    width: 40vw;
}

.uppercase {
    text-transform: uppercase;
}



@media (min-width: 576px) { 
    .title {
        font-size: 40px;
    }
    
    .sub-title {
        font-size: 20px;
    }
    
    .separator {
        width: 38vw;
    }
}

@media (min-width: 768px) { 
    .title {
        font-size: 44px;
    }
    
    .sub-title {
        font-size: 22px;
    }
    
    .separator {
        width: 36vw;
    }
}

@media (min-width: 992px) { 
    .title {
        font-size: 50px;
    }
    
    .sub-title {
        font-size: 25px;
    }
    
    .separator {
        width: 34vw;
    }
}

@media (min-width: 1200px) { 
    .title {
        font-size: 64px;
    }
    
    .sub-title {
        font-size: 32px;
    }
    
    .separator {
        width: 28vw;
    }
}