@import 'https://fonts.googleapis.com/css?family=Satisfy&display=swap';

body {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 10vw;
    background: linear-gradient(white, transparent);
    height: 7.05vw;
    font-weight: 600;
    z-index: 1000;
    position: relative;
}

.navLink, .navSocial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink a.link {
    text-decoration: none;
    color: #6a290a;
    margin-right: 2.35vw;
    padding-bottom: 1.175vw;
    font-size: 1.175vw;
}

.navSocial img.img {
    padding-left: .5875vw;
    width: 1.41vw;
}

.navSocial a.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink a.link:hover {
    border-bottom: solid
}

.navSocial .subscribe {
    padding: 1.175vw 2.35vw;
    text-decoration: none;
    color: #058773;
    border: solid;
    font-size: 1.175vw;
}

.navSocial .subscribe:hover {
    background-color: #F0D4BA;
    /* text-decoration: underline; */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/header/header.jpg');
    background-size: cover;
    height: 22.2vw;
    margin-top: -7.05vw;
}

.title {
    color: #C17336;
    font-size: 4.7vw;
    margin-bottom: 0px;
    margin-top: 25px
}

.sub-title {
    color: #6a290a;
    margin-top: 0px;
    font-size: 2.35vw;
    font-family: 'Satisfy', cursive;
}

.separator {
    margin: 3.525vw auto 1.175vw auto;
    width: 28vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 1.175vw;
    background-color: black;
    color: white;
    height: 15vh;
}

main {
    margin: 1.175vw 3.525vw;
    padding: 0em 1.175vw;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
}

.uppercase {
    text-transform: uppercase;
}