
@import '../../stylesCommon.css';
/* /////////// */

.article {
    padding: 1.175vw;
    margin: 1.175vw;
}

.articleTitle {
    margin: 0px;
    text-align: center;
}

.articleSub {
    display: flex;
    justify-content: space-between;
}

.articleType {
    margin: 0px;
    text-align: center;
}

.articleDate {
    margin: 0px;
    text-align: center;
}

.articleBody {
    text-align: center;
}

.articleContinue {
    text-align: center;   
}